@import url(./__iframes/video__iframes.css);
@import url(./__iframe/video__iframe.css);

.oakley {
  box-sizing: border-box;
  margin: 0;
  padding: 160px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f2;
}
